1. In a string enclosed with single quotes ', we can use double quotes " directly in the code. However, for single quotes ' it needs to be escaped with a backslash, i.e.: \'. The example is as follows -

In [1]:
X = 'a\'b"c'

In [3]:
print(X)

a'b"c

In [4]:
W = 'x\'y\"z'

In [5]:
print(W)

x'y"z

2. x a is string type variable. To support my answer I've the following explanation:-

In [6]:
x = 'a'

In [10]:
type(x)

str

3. The Answer is as follows -

In [26]:
X ='Welcome to Python foundation course'

In [27]:
X.find('o')

4

In [28]:
X.count('o')

6

In [69]:
len(X)

35

In [70]:
x = "Python "

In [71]:
y = "is "

In [78]:
z = "fantastic"

In [81]:
print(x + y + z)

Python is fantastic

4. The Answer is as follows -

In [130]:
word = 'PanaJi@12256'

In [131]:
uppercase = 0

In [132]:
lowercase = 0

In [133]:
numbers = 0

In [134]:
for i in word:
    if i.isupper():
        uppercase = uppercase + 1
    elif i.islower():
        lowercase = lowercase + 1
    elif i.isdigit():
        numbers = numbers + 1

In [135]:
print("Total number of alphabets in lowercase =", uppercase)
print("Total number of alphabets in uppercase =", lowercase)
print("Total number of numbers in string =", numbers)

Total number of alphabets in lowercase = 2
Total number of alphabets in uppercase = 4
Total number of numbers in string = 5

5. A code to store a numerical value inside a variable then converting it into string in python is as follows -

In [139]:
num = 10"

In [140]:
print("Type of variable before conversion : ", type(num))

Type of variable before conversion :  <class 'str'>

In [141]:
converted_num = str(num)

In [142]:
print("Type After conversion : ",type(converted_num))

Type After conversion :  <class 'str'>